* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: inline-block;
    text-align: center;
    width: 300px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
    width: 50%;
}

.btn {
    padding: 5px;
    margin: 10px;
}